.header {
    margin: 0 0 10px;
    border-bottom: 2px solid rgb(0 0 0);
}

.name {
    /* Sizing */
    width: 100%;
    font-size: 2em;
    font-weight: bold;

    /* Colors */
    color: rgb(0 0 0);
    border: none;
    outline: none;
    background-color: transparent;
}
