.header {
    /* Alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Sizing */
    width: 100%;
    margin: 5px 0;

    /* Color */
    border-bottom: 2px solid rgb(0 0 0);
}

.name {
    width: max-content;
    font-size: 2em;
    font-weight: bold;
}

.status {
    justify-self: flex-end;
    width: max-content;
}

.status > * {
    margin: 5px;
}

.status > .incomplete {
    color: rgb(168 0 0);
}

.status > .complete {
    color: rgb(0 180 90);
}

.description {
    width: 100%;
    word-wrap: break-word;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.controls > button {
    margin-left: 0;
    margin-right: 0;
}

.control_status {
    background-color: rgb(238 217 255);
}

.control_delete {
    background-color: rgb(255 158 158);
}
