.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    border-bottom: 2px solid #000;
}

.name {
    width: max-content;
}

.status {
    justify-self: flex-end;

    width: max-content;
}
.status > * {
    margin: 5px;
}
.status > .incomplete {
    color: #a80000;
}
.status > .complete {
    color: #00b45a;
}

.description {
    width: 100%;
    word-wrap: break-word;
}

.controls {
    display: flex;
    justify-content: space-between;
}
.controls > button {
    margin-left: 0;
    margin-right: 0;
}

.control_delete {
    background-color: #ff9e9e;
}
